FormatStyle: file
WarningsAsErrors: '*'
Checks: >
  bugprone-*,
  cert-*,
  -cert-err58-cpp,
  clang-analyzer-*,
  google-global-names-in-headers,
  google-runtime-int,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
