version: "{build}"
image: Visual Studio 2019
branches:
  only:
    - main
    - /release\/.*/
    - appveyor
    - hunter
environment:
  matrix:
    - CONFIGURATION: Debug
      GENERATOR: Ninja
    - CONFIGURATION: Release
      GENERATOR: Ninja

cache:
  - C:\.hunter\_Base\Cache -> cmake\Hunter\init.cmake

install:
  - cmake --version

before_build:
  - call "%ProgramFiles(x86)%\Microsoft Visual Studio\2019\Community\Common7\Tools\vsdevcmd" -arch=amd64
  - cmake -S . -B build -DINTX_BENCHMARKING=OFF -DNATIVE=ON -Wno-dev -G "%GENERATOR%" -DCMAKE_COMPILE_WARNING_AS_ERROR=TRUE -DCMAKE_BUILD_TYPE=%CONFIGURATION% -DHUNTER_CONFIGURATION_TYPES=%CONFIGURATION% -DCMAKE_INSTALL_PREFIX=C:\install

build_script:
  - cmake --build build --target install --parallel 1
  - cmake --build build --target package

after_build:
  - cd build && ctest -j4 --output-on-failure --schedule-random
